@import "tailwindcss";

:root {
  /* colors */
  --primary-color: #6153CC;
  --secondary-color: #EBE9FF;
  --color-black: #000000;
  --color-white: #FFFFFF;

  /* more to add later */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  background-color: var(--secondary-color);
}

.roboto-condensed-medium {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-condensed-black {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}